* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('wood-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    padding: 20px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.container img {
    margin-bottom: 25px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 1.3rem;
    justify-content: center;
}

.box {
    height: 90px;
    width: 90px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-size: 4rem;
    color: rgb(53, 21, 3);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}

.box:hover {
    background: rgba(255, 255, 255, 0.4);
}

.reset-button,
.new-button {
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 1.25rem;
    background-color: #391202;
    color: rgb(255, 191, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.reset-button:hover,
.new-button:hover {
    transform: scale(1.04);
}
.new-button {
    font-size: 15px;
    padding: 5px 15px;
    margin-top: 5px;
}
.msg-container {
    border: none;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #391202;
    color: yellow;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.hide {
    display: none;
}
.new-button {
    padding: 5px 15px;
    margin-top: 10px;
    font-size: 13px;
    background-color: #391202;
    color: rgb(255, 191, 0);
    border-radius: 5px;
    border: none;
}
@media (max-width: 600px) {
    body {
        background-position: center  ;
    }
    .container {
        margin-top: -50px;
    }
    .game-board {
        height: 40vh;
        margin-top: -15px;
        margin-bottom: 10px;
        gap: 0.7rem;
    }
    .box {
        height: 80px;
        width: 80px;
    }
    .container img {
        width: 250px;
        height: 55px;
    }
}

